@font-face { 
font-family: "Fjalla One";  
src: url("./Fjalla_One/FjallaOne-Regular.ttf") format("truetype"); 
}

/* Base Styling */
html {
    font-family: "Fjalla One", Arial;
    font-weight: 200;
    background: linear-gradient(130deg, rgb(0, 87, 90), rgb(240, 0, 168));
    background-attachment: fixed;
    scroll-behavior: smooth;
}
body {
    margin: 0;
}

/* Index Page Styling */

#navbar_logo {
    float: left;
    text-decoration: none;
    padding: 0 0 0 30px;
}
.navbar_link {
    text-decoration: none;
}
.navbar_menu {
    float: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 2rem;
    padding: 0 30px 0 0;
    font-size: 1.3rem;
    position: sticky;
    z-index: 1;
}

/*! Not Working for some reason */
.navbar {
    background: rgb(27, 27, 27);
    /* box-shadow: 0 3px 5px rgb(252, 0, 147); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 30px 0 0;
    font-size: 1.3rem;
    position: sticky;
    z-index: 1;
}












/* Contact Page Styling */
#contact {
    letter-spacing: 2px;
    text-align: center;
    border: solid 3px pink;
    border-radius: 13px;
    max-width: 666px;
    margin: 66px auto;
    padding: 20px 0 0 0;
    position: relative;

}
.underline {
    border-bottom: solid 2px black;
    margin: .5rem auto;
    width: 120px;
}
form {
    margin: 30px 20px;
    padding: 0;
}

.name {
    float: left;
    width: 45%;
    padding: 0 0 10px 0;
}
.email {
    float: right;
    width: 45%;
    padding: 0 0 10px 0;
}
.subject {
    width: 100%;
}

#contact_button {
    border: solid 2px pink;
    border-radius: 13px;
    background-color: rgb(223, 250, 250);
    color: #474544;
    cursor: pointer;
    display: inline-block;
    font-family: "Fjalla One";
    font-size: 1em;
    font-weight: lighter;
    padding: 20px 35px;
    margin: 20px 0px;
    transition: all 0.3s;
}
#contact_button:hover {
    background: pink;
    color: teal;
    box-shadow: 0 0.5em 0.5em -0.4em #ff00aa;
    transform: translateY(-0.25em);
}

input[type='text'], [type='email'], select, textarea {
    background: none;
    border: none;
    border-bottom: solid 2px;
    color: black;
    letter-spacing: 1px;
    box-sizing: border-box;
    transition: all 0.3s;
    width: 100%;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
    outline: none;
}

button, input, select, textarea {
    color: #5A5A5A;
    font: inherit;
    margin: 0;
}

textarea {
	line-height: 100%;
    padding: 20px 0;
	height: 100px;
	resize: none;
    width: 85%;
    color: black;
}

/* Footer Social Media Styling */

.footer_social_icons {
    float: right;
    margin: 0 30px 20px 0;
}
.social_header {
    margin-left: 50px;
    text-transform: uppercase;
    letter-spacing: .25rem;
    color: #474544;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #ff00aa,
        0 0 21px #ff00aa,
        0 0 42px #0fa;
}
.social_icons {
    list-style: none;
    padding: 0;
}

/*! I founds this on w3schools but don't fully understand why refrencing 'li' or 'a' makes it able to format horizontally. Without it I could not get it to work, but I thought I should be able to with the .social_icons class. */

.social_icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social_icons a {
    color: #fff;
    text-decoration: none;
}

/* Icons and Hover Colors */
.fa-square-facebook {
    padding:10px 14px;
    transition: .5s;
    background-color: #2b2a29;
    border-radius: 5px;
    box-shadow: 0 5px 10px #2b2a29;
}
.fa-square-facebook:hover {
    background-color: #3d5b99;
    box-shadow: 0 5px 10px #3d5b99;
}
.fa-square-twitter {
    padding:10px 12px;
    transition: .5s;
    background-color: #2b2a29;
    border-radius: 5px;
    box-shadow: 0 5px 10px #2b2a29;
}
.fa-square-twitter:hover {
    background-color: #00aced;
    box-shadow: 0 5px 10px #00aced;
}
.fa-youtube {
    padding:10px 14px;
    transition: .5s;
    background-color: #322f30;
    border-radius: 5px;
    box-shadow: 0 5px 10px #2b2a29;
}
.fa-youtube:hover {
    background-color: #e64a41;
    box-shadow: 0 5px 10px #e64a41;
}
.fa-linkedin {
    padding:10px 14px;
    transition: .5s;
    background-color: #2b2a29;
    border-radius: 5px;
    box-shadow: 0 5px 10px #2b2a29;
}
.fa-linkedin:hover {
    background-color: #0073a4;
    box-shadow: 0 5px 10px #0073a4;
}
.fa-github {
    padding:10px 14px;
    transition: .5s;
    background-color: #2b2a29;
    border-radius: 5px;
    box-shadow: 0 5px 10px #2b2a29;
}
.fa-github:hover {
    background-color: #5a32a3;
    box-shadow: 0 5px 10px #5a32a3;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}