@font-face { 
font-family: "Fjalla One";  
src: url("./Fjalla_One/FjallaOne-Regular.ttf") format("truetype"); 
}

html {
    font-family: "Fjalla One", Arial;
    font-weight: 200;
}

body {
    background: grey;
}

/* Contact Page Styling */

#contact {
    letter-spacing: 2px;
}